// ===============================
// Colors
// ===============================

$color-primary: $color-dark;
$color-secondary: $color-grey;
$color-success: $color-green;
$color-alert: $color-red;
$color-warning: $color-yellow;
$color-info: $color-blue;

$color-text: $color-black;
$color-title: $color-dark;


// ------------
// Common
// ------------

$color-black:#080808;
$color-dark:#4F4F4F;
$color-grey-dark:#8B8B8B;
$color-grey:#BDBDBD;
$color-light:#E0E0E0;
$color-lighter:#F3F3F3;
$color-info-dark:#4B4BFF;
$color-info:#7676FF;
$color-green-dark:#21A121;
$color-green:#8AFF8A;
$color-yellow-dark:#FFB40F;
$color-yellow:#FFFF51;
$color-red-dark:#FF3E3E;
$color-red:#FF7777;
$color-peach:#FFDCCC;
$color-blue-dark:#98DFFC;
$color-blue:#D6F3FF;
$color-purple:#D858D8;
$color-purple-light:#EBB7FF;
$color-pink:#FFD0DB;
$color-brown:#BE704B;