// ================
// Fonts
// ================

$ff-base:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-title: "Montserrat", $font-family-base;
$ff-text:  "Hind", $font-family-base;

$h-fw: 700;

$h1-fs: 5.2rem;
$h1-lh: 6rem;
$h2-fs: 4rem;
$h2-lh: 5rem;
$h3-fs: 3rem;
$h3-lh: 4rem;
$h4-fs: 2rem;
$h4-lh: 3rem;
$h5-fs: 1.4rem;
$h5-lh: 2rem;
$h6-fs: 1.4rem;
$h6-lh: 2rem;

$fs-small: 1.4rem;
$lh-small: 2rem;
$fs-base: 1.6rem;
$lh-base: 2.2rem;
$fs-large: 1.9rem;
$lh-large: 2.8rem;